.sidebar {
  background: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-5));
}

.footer {
  padding: var(--mantine-spacing-md);
  border-top: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-5));
}
