.header {
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-5));
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: var(--mantine-color-blue-filled);
}

.logoIcon {
  color: white;
  font-weight: 700;
  font-size: 18px;
}

.title {
  font-weight: 600;
  font-size: 18px;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.version {
  font-size: 12px;
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-gray-5));
}
